*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    padding: 0.5rem 1rem;
    background-color: #0F2D3A;
    box-sizing: border-box;
}
nav > h1{
    font-weight: 800;
    font-style: italic;
}

.search-area{
    width: 30%;
    position: relative;
}

#search-bar{
    border: none;
    padding: 0.7rem 0.7rem;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    color: black;
}

.search-btn, .clear-btn{
    background-color: #15847D;
    border: none;
    padding: 6px 12px;
    position: absolute;
    right: 0.5rem;
    top: 0.35rem;
    border-radius: 10px;
}
.search-btn{
    right: 4rem;
}

ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/*
################################### Main Section ##################################
*/

main{
    padding: 2rem 1rem;
    padding-top: 5rem;
    background-image: url('src/Cairo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 92vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 2rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 2rem 0.8rem;
    border-radius: 10px;
    position: sticky;
}

.main-part{
    padding-right: 50%;
}
.title{
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
.summary{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 0.8rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: #0F2D3A;
}
.main-part > button {
    border: none;
    border-radius: 5px;
    background-color: #004D40;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}


/*
################################### Card Styling ##################################
*/

.cards-div{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    gap: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    font: -webkit-small-control;
    scrollbar-width: none;
    padding: 0.8rem 0rem;
    border-radius: 10px;
}
.card{
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.card h1{
    color: #15847D;
    text-shadow: 1px 1px 3px #0F2D3A;
}
.card > h2, .card h4{
    color: #0F2D3A;
    text-align: center;
}
.card-img{
    width: 100%;
    aspect-ratio: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
}

